Вернуться к списку заданий
Это красный текст

Это тоже красный текст

Это полужирный текст

Это тоже полужирный текст

Все элементы следующего списка (включая подсписок) имеют разные цвета и ни один из них не чёрный:

Элемент списка
Первый элемент подсписка
Второй элемент подсписка
Ещё один элемент списка
В этом абзаце все слова разного размера